<!DOCTYPE html>
<html lang="en">
  <head>
{{>header}}

  </head>
<body>
  {{>navbar}}
  {{!-- <h1>Welcome to Home Page</h1> --}}
 <div class="img">
<img src="notAuthorised.jpg" alt="no access to this page" style="width: 100vw; height: 660px">
  </div>
  <div class="center">
    <div class="title">  <span style="color: red; font-size: 60px; "> 403 Access Denied </span></div>
    <div class="sub_title">You Don't Have Permission To Access<section style="color: rgb(105, 106, 203); "> This Page </section>  </div>
    <div class="btns">
    <button onclick="window.location.href='/'">Back to Home</button>
    <button onclick="window.location.href='/login'">Go to login</button>
    </div>
  </div>

</body>
</html>