<!DOCTYPE html>
<html lang="en">
  <head>
{{>header}}

  </head>
<body>
  {{>navbar}}
  {{!-- <h1> Please Register to enter the Room</h1> --}}
  <div class="img">

<img src="Photography-Saying-Quotes.jpg" alt="" style="width: 100vw; height: 661px">
  </div>
  <div class="center">
    <div class="title"></div>
    <div class="sub_title"></div>
    <div class="btns">
      
    </div>
  </div>
</body>
</html>