<!DOCTYPE html>
<html lang="en">
  <head>
{{>header}}

  </head>
<body>
  {{>navbar}}
  {{!-- <h1>Welcome to premium Page</h1> --}}

   <div class="img">
<img src="https://cdn4.geckoandfly.com/wp-content/uploads/2014/04/photography-quotes14.jpg" alt="" style="width: 100vw; height: 848px">
  </div>
  <div class="center">
    <div class="title"></div>
    <div class="sub_title"></div>
    <div class="btns"> 
    </div>
  </div>
</body>
</html>