<!DOCTYPE html>
<html lang="en">
  <head>
{{>header}}

  </head>
<body>
  {{>navbar}}
  {{!-- <h1>Welcome to premium Page</h1> --}}

   <div class="img">
<img src="premiumPage.jpg" alt="path not set" style="width: 100vw; height: 800px">
  </div>
  <div class="center">
    <span class="title"> </span>
    <div class="sub_title"></div>
    <div class="btns"> 
    </div>
  </div>
</body>
</html>