<nav>
  <input type="checkbox" id="check" />
  <label for="check" class="checkbtn">
    <i class="fas fa-bars"></i>
  </label>
  <label class="logo"  >DesignX</label>
  <ul>
    <li><a class="active" href="/">Trial</a></li>
    <li><a href="/premium">Premium</a></li>
    <li><a href="login">Login</a></li>
    <li><a href="register">Register</a></li>
      <li><a href="/logout">logout</a></li>
  </ul>

    
</nav>
